@import "../../ui/colors";

@media (min-width: 568px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 720px) {
  .home .card-container {
    flex-direction: row;
  }
}

.home {
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-container__inputs {
  padding: 2.5625rem 4.4375rem 2.75rem 3.5rem;
  align-self: center;
}

.card-container__results {
  background-color: rgba(209, 220, 227, 0.18);
  padding: 5.1875rem 2.1875rem;
}
