$text_label: 0.875rem;
$text_title: 1.5rem;
$text_message: 1rem;
$text_help: 0.6875rem;
$title_section: 1rem;
$section-title__line-height: 1.25rem;
$input__line-height: 1rem;
$main_title__line-height: 1.75rem;
$border_radius: 0.25rem;
