@import "../_colors.scss";
@import "../_sizes.scss";

.text-block__container {
  line-height: 2.875rem;
  display: flex;

  .text-block__label {
    font-weight: 400;
  }

  .text-block__amount {
    font-weight: 700;
    margin-left: 0.375rem;
  }

  .text-block__label,
  .text-block__amount {
    color: $blue_light;
    font-size: $text_message;
    font-family: "Source Sans Pro";
    font-style: italic;
  }
}
