@import "../_colors.scss";
@import "../_sizes.scss";

.text-block__container {
  margin: 0.8125rem 0;

  .text-block__label {
    font-weight: 400;
  }

  .text-block__amount {
    font-weight: 700;
    margin-left: 0.375rem;
  }

  .text-block__label,
  .text-block__amount {
    color: $blue_light;
    font-size: $text_message;
    font-style: italic;
  }
}
